<nav class="pagination {{^if prev}}no-prev{{/if}} {{^if next}}no-next{{/if}}" role="navigation">
    <a class="newer-posts" href="{{#if prev}}{{page_url prev}}#blog{{else}}#{{/if}}">Newer Posts</a>
    <div class="page-number"><span>{{page}} / {{pages}}</span></div>
	<a class="older-posts" href="{{#if next}}{{page_url next}}#blog{{else}}#{{/if}}">Older Posts</a>
</nav>