<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "images/logo.png"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{asset "css/scenary_on_my_bike.css"}}" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}} {{#is 'home'}}no-overflow{{/is}}">

    {{#is 'home'}}
        {{> 'site-cover'}}
    {{/is}}

    {{> 'header'}}

    {{> 'side-nav'}}
   
    <div class="site-wrapper">
        {{{body}}}

        {{> 'footer'}}
    </div>

    <div class="mask-modal"></div>

    {{! Ghost outputs important scripts and data with this tag }}
    <script type="text/javascript" src="{{asset "js/scenary_on_my_bike.js"}}"></script>
    {{ghost_foot}}
</body>
</html>
