{{!< default}}

<header class="page-banner">
	<div class="page-banner-inner">
		{{#is "tag"}}
		<h1 class="page-title"><i class="fa fa-tag"></i> {{tag.name}}</h1>
		<h2 class="page-description">{{tag.description}}</h2>
		{{/is}}
		{{#is "index"}}
		<h1 class="page-title">Blog</h1>
		<h2 class="page-description">Thoughts and ideas</h2>
		{{/is}}
		{{#is 'author'}}
		<h1 class="page-title"><i class="fa fa-user"></i> {{author.name}}</h1>
		{{/is}}
	</div>
</header>

<main class="main-content" role="main">
	{{#if posts}}
	<div id="masonry-grid">
		{{#foreach posts}}
		<div class="masonry-grid-item">
			<article class="{{post_class}} card accent card-1">
				<header class="post-header">
					<div class="post-meta">
						<time datetime="{{date format='YYYY-MM-DD'}}"><i class="fa fa-clock-o"></i> {{date format="MMMM DD, YYYY"}}</time>
					</div>
					<h1 class="post-title"><a href="{{url}}">{{title}}</a></h1>
				</header>
				{{#if image}}
				<section class="post-media">
					<a href="{{url}}" rel="bookmark" title="{{title}}">
						<img src="{{image}}" alt="{{title}}" />
					</a>
				</section>
				{{/if}}
				<section class="post-excerpt">
					<p>{{excerpt words="26"}}...</p>
					<p><a class="read-more" href="{{url}}"><small>READ MORE <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></small></a></p>
				</section>
				{{#if tags}}
				<footer class="post-footer">
					<div class="post-tags">
						<span><i class="fa fa-tags"></i> Tags:</span>
						{{> "tag-partial"}}
					</div>
				</footer>
				{{/if}}
			</article>
		</div>
		{{/foreach}}
	</div>
	{{pagination}}
	{{else}}
	<div class="no-posts">
		<h1><i class="fa fa-search-minus"></i> NO POSTS FOUND</h1>
		<h4>Hi there! <br/> I have not been able to update any content yet, but please check back later and I may have something that will catch your attention.</h4>
	</div>
	{{/if}}
</main>