{{!< default}}

<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <h1 class="header-title">Blog</h1>    
</header>

{{! The main content area on the homepage }}
<main class="content" role="main">
    
    <aside class="pagination-top">
        {{pagination}}
    </aside>

    {{#foreach posts}}
    <article class="{{post_class}}">
        <header class="post-header">
            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}}</time>
            <h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
            <small class="small" >by {{author}}</small>
        </header>
        {{#if image}}
            <img class="post-image" src="{{image}}" />
        {{/if}}
        <section class="post-excerpt">
            <p>{{excerpt words="26"}}...</p>
            <p><small><a class="read-more" href="{{url}}">CLICK TO READ POST</a></small></p>
        </section>
        <footer class="post-meta">
            {{#if tags}}
                Tagged: 
                {{#foreach tags}}
                    <a class="tag" href="{{url}}" title="{{name}}">{{name}}</a>
                {{/foreach}}
            {{/if}}
        </footer>
    </article>
    {{/foreach}}

    {{! Previous/next page links - displayed on every page }}
    {{pagination}}


</main>