{{!< default}}

<header class="post-index-banner">
	{{#is "tag"}}
	{{#tag}}
	<h1 class="page-title"><i class="fa fa-tag"></i> {{tag.name}}</h1>
	<h2 class="page-description">{{tag.description}}</h2>
	{{/tag}}
	{{/is}}
	{{#is "home"}}
	<h1 class="page-title">Blog</h1>
	{{/is}}
</header>

<main class="post-index" role="main">
	{{pagination}}
	<div id="masonry-grid">
		{{#foreach posts}}
		<div class="masonry-grid-item">
			<article class="{{post_class}} card accent card-1">
				<header class="post-header speech-bubble">
					<time class="post-date" datetime="{{date format='YYYY-MM-DD'}}"><i class="fa fa-clock-o"></i> {{date format="MMMM DD, YYYY"}}</time>
					<h1 class="post-title"><a href="{{url}}">{{title}}</a></h1>
				</header>
				{{#if image}}
				<section class="post-media">
					<a href="{{url}}" rel="bookmark" title="{{title}}">
						<img src="{{image}}" alt="{{title}}" />
					</a>
				</section>
				{{/if}}
				<section class="post-excerpt">
					<p>{{excerpt words="26"}}...</p>
					<p><a class="read-more" href="{{url}}">CLICK TO READ POST <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a></p>
				</section>
				{{#if tags}}
				<footer class="post-meta">
					<span><i class="fa fa-tags"></i> Tags:</span>
					{{> "tag-partial"}}
				</footer>
				{{/if}}
			</article>
		</div>
		{{/foreach}}
	</div>
	{{pagination}}
</main>