{{!< default}}

{{#post}}
<div class="main-content-wrapper">
    <main class="content container" role="main">
        <article class="{{post_class}}">
            <header class="post-header">
                <h1 class="post-title">{{title}}</h1>
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
                <section class="post-meta">
                    on {{> "tag_partial"}}
                </section>
                {{#if image}}
                    <img class="post-image" src="{{image}}"/>
                {{/if}}
            </header>

            <section class="post-content">
                {{content}}
            </section>

            <footer class="post-footer">
                {{#author}}

                {{#if image}}
                <figure class="author-image">
                    <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
                </figure>
                {{/if}}

                <address class="author-meta">
                    <h4>{{name}}</h4>

                    {{#if bio}}
                        <p class="bio">{{bio}}</p>
                    {{/if}}

                    <div class="author-meta">
                        {{#if location}}
                            <span class="author-location"><i class="fa fa-map-marker"></i> {{location}}</span> </br>
                        {{/if}}
                        {{#if website}}
                            <span class="author-link"><a href="{{website}}" target="_blank"><i class="fa fa-external-link"></i> {{website}}</a></span>
                        {{/if}}
                    </div>
                </address>

                {{/author}}
            </footer>

        </article>
    </main>

    <aside class="read-next container">
        {{#next_post}}
        <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
            <section class="post">
                <h2>{{title}}</h2>
                <p>{{excerpt words="19"}}&hellip;</p>
            </section>
        </a>
        {{/next_post}}
        {{#prev_post}}
        <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
            <section class="post">
                <h2>{{title}}</h2>
                <p>{{excerpt words="19"}}&hellip;</p>
            </section>
        </a>
        {{/prev_post}}
    </aside>
</div>
{{/post}}
