{{!< default}}

<header class="main-header {{#if tag.image}}" style="background-image: url({{tag.image}}){{else}}no-cover{{/if}}">
	<h1 class="header-title"><i class="fa fa-tag"></i> {{tag.name}}</h1>
	<h2 class="header-description">{{tag.description}}</h2>
</header>

<div class="main-content-wrapper">
	<main class="content container" role="main">

		<aside class="pagination-top">
			{{pagination}}
		</aside>

		{{> "loop"}}

		{{pagination}}
	</main>
</div>