<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{@blog.logo}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,400italic,300italic,600italic,700italic|Droid+Sans:400,700|Playfair+Display:400,400italic,700,700italic" />
    @@include('_head.hbs')
    
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}} {{#is 'home'}}no-overflow{{/is}}">

    {{#is 'home'}}
        {{> 'site-cover'}}
    {{/is}}
    
    {{> 'header'}}

    {{> 'side-nav'}}

    <div class="site-wrapper">
        {{{body}}}
         {{> 'footer'}}
    </div>

        <div class="mask-modal"></div>

    @@include('_scripts.hbs')
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}
</body>
</html>
